<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.if710.podcast">

    <permission android:name="br.ufpe.cin.if710.podcast.PERMISSAO_PODCAST"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="br.ufpe.cin.if710.podcast.PERMISSAO_PODCAST"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_CHANGE_DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.AnotherActivity" android:permission="android.permission.READ_OWNER_DATA" />
        <activity android:name=".ui.RepeatedActivity" android:permission="android.permission.READ_OWNER_DATA" />
		<activity android:name=".ui.NewTestActivity" />
        <activity android:name=".ui.NewMasterActivity" />
        <activity android:name=".ui.NewBranchActivity" />
        <activity android:name=".ui.CommonNewActivity" />

        <provider
            android:name=".db.PodcastProvider"
            android:authorities="br.ufpe.cin.if710.podcast.feed"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.EpisodeDetailActivity"></activity>
        <activity android:name=".ui.PlayActivity"/>
        <receiver android:name=".download.BackgroundReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".download.ItensBackgroundReceiver">
            <intent-filter>
                <action android:name="br.ufpe.cin.if710.podcast.ItensUpdated"/>
            </intent-filter>
        </receiver>
        
        <service android:name=".player.PodcastPlayer"/>
        <service android:name=".download.ItensDownloadIntentService"/>
        <service android:name=".jobscheduler.UpdateJobService" android:permission="android.permission.READ_OWNER_DATA"/>
    </application>

</manifest>